<!--this is home-->
<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div id="sampleCarousel"
             class="carousel slide"
             data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#sampleCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#sampleCarousel" data-slide-to="1"></li>
            <li data-target="#sampleCarousel" data-slide-to="2"></li>
            <li data-target="#sampleCarousel" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img src="/assets/index.svg" alt="images"/>
              <div class="carousel-caption">
                <img src="/assets/pooh5.jpeg" alt="images" class="center-block"/>
                Winnie the Pooh
              </div>
            </div>
            <div class="item">
              <img src="/assets/index.svg" alt="images"/>
              <div class="carousel-caption">
                <img src="/assets/bob3.jpeg" alt="images" class="center-block"/>
                Spongebob Squarepants
              </div>
            </div>
            <div class="item">
              <img src="/assets/index.svg" alt="images"/>
              <div class="carousel-caption">
                <img src="/assets/kitty35.jpeg" alt="images" class="center-block"/>
                Hello Kitty
              </div>
            </div>
            <div class="item">
              <img src="/assets/index.svg" alt="images"/>
              <div class="carousel-caption">
                <img src="/assets/min11.jpeg" alt="images" class="center-block"/>
                Minion
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#sampleCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#sampleCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="para">
      <p>lorem ipsum dolor sit amet, consectetur adipisicing elit,<br/>
        sed do eiusmod tempor incididunt ut labore et</p>
    </div>
  </div>
</div>
<!--end of home-->

<div class="border"></div>

<!--this is about-->
<div class="container" id="about">
  <div class="well">
    <p class="title">About Us</p>
    <p class="des">Who we are</p>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="history">Our History
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          <p class="para1">lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.</p>

          <p class="para1">lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.</p>
          <a href="#" class="history">Be part of our Story</a>
        </div>
        <div class="col-md-5">
          <div id="sampleCarousel1"
               class="carousel slide border"
               data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#sampleCarousel1" data-slide-to="0" class="active"></li>
              <li data-target="#sampleCarousel1" data-slide-to="1"></li>
              <li data-target="#sampleCarousel1" data-slide-to="2"></li>
              <li data-target="#sampleCarousel1" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img src="/assets/index.svg" alt="images"/>
                <div class="carousel-caption">
                  <img src="/assets/pooh5.jpeg" alt="images" class="center-block image"/>
                  Winnie the Pooh
                </div>
              </div>
              <div class="item">
                <img src="/assets/index.svg" alt="images"/>
                <div class="carousel-caption">
                  <img src="/assets/bob3.jpeg" alt="images" class="center-block image"/>
                  Spongebob Squarepants
                </div>
              </div>
              <div class="item">
                <img src="/assets/index.svg" alt="images"/>
                <div class="carousel-caption">
                  <img src="/assets/kitty35.jpeg" alt="images" class="center-block image"/>
                  Hello Kitty
                </div>
              </div>
              <div class="item">
                <img src="/assets/index.svg" alt="images"/>
                <div class="carousel-caption">
                  <img src="/assets/min11.jpeg" alt="images" class="center-block image"/>
                  Minion
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#sampleCarousel1" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#sampleCarousel1" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end of about-->

<div class="border"></div>

<!--this is our team-->
<div class="container" id="team">
  <div class="well">
    <p class="title">Our Team</p>
    <p class="des">Behind the scenes</p>

    <div class="container">
      <div class="row">
        <div class="col-md-11">
          <div class="col-md-3">
            <img src="/assets/kitty35.jpeg" alt="images" class="center-block image"/>
            <p class="para2">Gov. Leopoldo "Dominic" Petilla</p>
            <p class="para2">HEAD</p>
          </div>
          <div class="col-md-3">
            <img src="/assetskitty35.jpeg" alt="images" class="center-block image"/>
            <p class="para2">Gov. Leopoldo "Dominic" Petilla</p>
            <p class="para2">HEAD</p>
          </div>
          <div class="col-md-3">
            <img src="/assets/kitty35.jpeg" alt="images" class="center-block image"/>
            <p class="para2">Gov. Leopoldo "Dominic" Petilla</p>
            <p class="para2">HEAD</p>
          </div>
          <div class="col-md-3">
            <img src="/assets/kitty35.jpeg" alt="images" class="center-block image"/>
            <p class="para2">Gov. Leopoldo "Dominic" Petilla</p>
            <p class="para2">HEAD</p>
          </div>

          <!--instructor-->

          <div class="col-md-3">
            <img src="/assets/kitty35.jpeg" alt="images" class="center-block image1"/>
            <p class="para2">Gov. Leopoldo "Dominic" Petilla</p>
            <p class="para2">HEAD</p>
          </div>
          <div class="col-md-3">
            <img src="/assets/kitty35.jpeg" alt="images" class="center-block image1"/>
            <p class="para2">Gov. Leopoldo "Dominic" Petilla</p>
            <p class="para2">HEAD</p>
          </div>
          <div class="col-md-3">
            <img src="/assets/kitty35.jpeg" alt="images" class="center-block image1"/>
            <p class="para2">Gov. Leopoldo "Dominic" Petilla</p>
            <p class="para2">HEAD</p>
          </div>
          <div class="col-md-3">
            <img src="/assets/kitty35.jpeg" alt="images" class="center-block image1"/>
            <p class="para2">Gov. Leopoldo "Dominic" Petilla</p>
            <p class="para2">HEAD</p>
          </div>

          <!-- asst.instructor-->

          <div class="col-md-3">
            <img src="/assets/kitty35.jpeg" alt="images" class="center-block image1"/>
            <p class="para2">Gov. Leopoldo "Dominic" Petilla</p>
            <p class="para2">HEAD</p>
          </div>
          <div class="col-md-3">
            <img src="/assets/kitty35.jpeg" alt="images" class="center-block image1"/>
            <p class="para2">Gov. Leopoldo "Dominic" Petilla</p>
            <p class="para2">HEAD</p>
          </div>
          <div class="col-md-3">
            <img src="/assets/kitty35.jpeg" alt="images" class="center-block image1"/>
            <p class="para2">Gov. Leopoldo "Dominic" Petilla</p>
            <p class="para2">HEAD</p>
          </div>
          <div class="col-md-3">
            <img src="/assets/kitty35.jpeg" alt="images" class="center-block image1"/>
            <p class="para2">Gov. Leopoldo "Dominic" Petilla</p>
            <p class="para2">HEAD</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end of our team-->

<div class="border">    </div>

<!--this is testimonial-->

<div class="container" id="testimonial">
  <div class="well">
    <div class="row">
      <p class="title">Testimonial</p>
      <p class="des">lorem ipsum dolor sit amet consectetur</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-11">
          <div class="col-md-6">
            <div class="well">
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <img src="/assets/bob3.jpeg" alt="image" class="image pull-left"/>
                  </div>
                  <div class="col-md-3 def">
                    <h3>Name of Graduate</h3>
                    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="well">
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <img src="/assets/bob3.jpeg" alt="image" class="image pull-left"/>
                  </div>
                  <div class="col-md-3 def">
                    <h3>Name of Graduate</h3>
                    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-11">
          <div class="col-md-6">
            <div class="well">
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <img src="/assets/bob3.jpeg" alt="image" class="image pull-left"/>
                  </div>
                  <div class="col-md-3 def">
                    <h3>Name of Graduate</h3>
                    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="well">
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <img src="/assets/bob3.jpeg" alt="image" class="image pull-left"/>
                  </div>
                  <div class="col-md-3 def">
                    <h3>Name of Graduate</h3>
                    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-11">
          <div class="col-md-6">
            <div class="well">
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <img src="/assets/bob3.jpeg" alt="image" class="image pull-left"/>
                  </div>
                  <div class="col-md-3 def">
                    <h3>Name of Graduate</h3>
                    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="well">
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <img src="/assets/bob3.jpeg" alt="image" class="image pull-left"/>
                  </div>
                  <div class="col-md-3 def">
                    <h3>Name of Graduate</h3>
                    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <a href="#" class="history">See More >></a>
      </div>
    </div>
  </div>
</div>
<!--end of testimonial-->

<div class="border"></div>

<!--this is tech-->
<div class="container" id="technologies">
  <div class="well">
    <p class="title">Our Team</p>
    <p class="des">Behind the scenes</p>

    <div class="container">
      <div class="row">
        <div class="col-md-11">
          <div class="col-md-3">
            <div class="well">
              <img src="/assets/logos/html.png" alt="images" class="center-block image"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well">
              <img src="/assets/logos/css1.png" alt="images" class="center-block image"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well">
              <img src="/assets/logos/javascript.jpg" alt="images" class="center-block image"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well">
              <img src="/assets/logos/jquery.png" alt="images" class="center-block image"/>
            </div>
          </div>
        </div>
        <div class="col-md-11">
          <div class="col-md-3">
            <div class="well">
              <img src="/assets/logos/php.jpg" alt="images" class="center-block image"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well">
              <img src="/assets/logos/rails.jpg" alt="images" class="center-block image"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well">
              <img src="/assets/logos/laravel.png" alt="images" class="center-block image"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well">
              <img src="/assets/logos/mysql.png" alt="images" class="center-block image"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end of tech-->

<div class="border"></div>

<!--this is contsct-->
<div class="container" id="contact">
  <div class="well">
    <h3 class="text-center">OUR ADDRESS</h3>
    <h1 class="text-center">WHERE YOU CAN FIND US</h1>

    <div class="container">
      <div class="row">
        <div class="col-md-11">
          <div class="col-md-4">
            <div class="well">
              <img src="/assets/contact/map.PNG" alt="image" class="img-thumbnail
                                 img-rounded center-block image5"/>
              <p class="para">OFFICE LOCATION</p>
              <p class="para history1">Brgy. Pawing, Palo, Leyte</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="well">
              <img src="/assets/contact/rss.png" alt="image" class="img-thumbnail
                                 img-rounded center-block image3"/>
              <p class="para">CALL US</p>
              <p class="para history1">0912 345 6789</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="well">
              <img src="/assets/contact/email.png" alt="image" class="img-thumbnail
                                 img-rounded center-block image2"/>
              <p class="para">EMAIL ADDRESS</p>
              <p class="para history1">e2ps@yahoo.com / e2ps@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end of contact-->

<!--this is footer-->
<div class="panel-footer footer">
  <div class="container">
    <p class="para">Copyright &copy; E2Ps 2014. All Rights Reserved.</p>

    <div class="row">
      <a href="#"><img src="/assets/contact/facebook.png" alt="image"
                       class="img-thumbnail img-rounded center-block"/></a>
    </div>
  </div>
</div>
<!--end of footer-->