body {
    overflow-x: hidden;
}

/*navbar*/

.navbar-default {
    background: #428bca;
}

.na_li {
    margin-top: 35px;
}

.navbar-default .navbar-nav >li >a {
    margin-top: 30px;
}

/*home*/
.para {
    text-align: center;
    /*margin-left: 0px;*/
    margin-top: 20px;
    font-size: 18px;
}

/*border*/
.border {
    margin-top: 100px;
    margin-bottom: 50px;
    border: 1px solid #6b6e6f;
}


/*about us*/
.title {
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

.des {
    margin-top: -18px;
    margin-bottom: 100px;
    font-size: 18px;
    font-family: Arial;
    text-align: center;
}

.history {
    text-decoration: underline;
}

.para1{
    margin: 25px;
}

.image {
    width: 80%;
    height: 100px;
}

/*our team*/
.para2 {
    margin-top: 10px;
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
}

.image1 {
    width: 55%;
}

/*testimonial*/
.image2 {
    width: 50%;
}

.def {
    margin-left: -30px;
}

/*contact*/
.image3 {
    width: 50%;
    height: 133px;
}

.image4 {
    width: 50%;
}

.image5 {
    width: 100%;
    height: 133px;
}

.history1 {
    margin-top: -10px;
    color: dodgerblue;
}

/*footer*/
.footer {
    background: #428bca;
}