<!DOCTYPE html>
<html>
<head>
  <title>HelloRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!--this is nav-->
  <!--<div class="container-fluid">-->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbarToggle">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1>E2Ps</h1>
        <p>Edukasyong Pantulay Pangkabuhayan</p>
      </div>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="nav navbar-nav navbar-right nav_li">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#team">Our Team</a></li>
          <li><a href="#testimonial">Testimonial</a></li>
          <li><a href="#technologies">Technologies</a></li>
          <li><a href="#">Avail Scholarship</a></li>
          <li><a href="#">Tracker</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--</div>-->
  <!--end of nav-->

<%= yield %>

</body>
</html>
